{% extends "layout.html.twig" %}
  {% block content %}
		We are sorry, an error ocurred. Try it again or contact us at <a href="mailto:hadoop@bsc.es">hadoop@bsc.es</a>
   {% endblock %}

   {% block javascript %}
   {% endblock %}
