{% extends "layout.html.twig" %}
  {% block stylesheet %}
    {{ parent() }}
{#     <style type="text/css" src="//cdn.jsdelivr.net/jquery.magnific-popup/0.9.9/magnific-popup.css"></style>#}
    <style type="text/css">
      @import "css/main.css";
      @import "//cdn.jsdelivr.net/jquery.magnific-popup/0.9.9/magnific-popup.css";
    </style>
  {% endblock %}
  {% block content %}
		<div class="inside" style="margin: 1em auto; width: 80%">
            <table style="text-align: center; ">
                <tr>
                    <td>
                        <iframe width="800" height="600" src="//www.youtube.com/embed/Wym1BYZhilQ" frameborder="0" allowfullscreen></iframe>
                    </td>
                </tr>
            </table>

		</div>
   {% endblock %}

	{% block javascript %}
	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.magnific-popup/0.9.9/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript">
		  $(document).ready(function() {
            document.cookie="rememberme=true";

            $('.image-popup-vertical-fit').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                mainClass: 'mfp-img-mobile',
                image: {
                  verticalFit: true
                }
                
             });
		  });
	</script>
    {% endblock %}
