{% extends "layout.html.twig" %} 
{% block javascript %} 
	{{ parent() }}
	<script type="text/javascript" src="js/highcharts.js"></script>
	<script type="text/javascript">
	 $(document).ready(function() {
		$("input,select").change(function() {
			$("form").submit();
		});
		    var chart = new Highcharts.Chart({
		        chart: {
		            type: 'bar',
		            renderTo: 'chart'
		        },
		        title: {
		            text: 'Clusters by parameters'
		        },
		        xAxis: {
			        categories: {{ seriesCat | raw }},
		            title: {
		                text: null
		            },
		            labels: {
			            enabled: false
			        }
		        },
		        yAxis: {
		            min: 0,
		            title: {
		              {% if request.get('ordertype') == 'cost' %}
		            	text: 'Cost-effective (USD $)',
		              {% else %}
		                text: 'Execution time (seconds)',
		              {% endif %}
		                align: 'high'
		            },
		            labels: {
		                overflow: 'justify'
		            }
		        },
		        tooltip: {
		            valueSuffix: "{% if request.get('ordertype') == 'cost' %}${% else %}s{% endif %}",
		            pointFormat: '<b>{point.y}</b>'
		        },
		        plotOptions: {
		            bar: {
		                dataLabels: {
		                    enabled: true
		                }
		            },
			        series: {
	                	cursor: 'pointer',
	                    point: {
	                        events: {
	                            click: function () {
	                                var id = this.series.data[this.x].category;
	                                setElementTable(id);
	                            }
	                        }
	                    }
	                }
		        },
		        legend: {
			        enabled: false,
		        },
		        credits: {
		            enabled: false
		        },
		        series: [{
			        name: ' ',
			        data: [{{ seriesData | raw}}]
		        }]
		    });
	 });
	</script>
{% endblock %} 
{% block content %}
<div style="float: left; width: 50%;">
	<div id="chart"></div>
</div>
{% include 'common/config_filters.html.twig' %}
<div style="clear: both;">&nbsp;</div>
{% endblock %}
