{% extends "layout.html.twig" %} 
{% block stylesheet %}
    {{ parent() }}
{% endblock %}
{% block content %}
	<div id="jsonError" class="alert alert-danger" role="alert" style="display: none; text-align: center; font-weight: bold;">
		<p></p>
	</div>
	<div id="introduction" style="float: left; width: 100%;">
		<p style="text-align:justify"><b>Data Summary</b>: This tool provides a summary of the selected executions through the filter box at the right panel.</p>
		<hr />
	</div>
	<div id="dataframe" style="float: left; width: 68%;">
	<style>
		.benchtable
		{
			border: solid 1px;
		}

		.summarytable
		{
			border-spacing: 10px;
			border-collapse: separate;
			display: inline-block;
			vertical-align: top;
		}

		.level
		{
			font-weight:bold;
		}

		.levelhead
		{
			width: 100%;
			color: #FFF;
			background-color: #AAA;
			padding: 5px;
			font-weight:bold;
		}

		.summarytable table
		{
			width: 100%;
			border-spacing: 10px;
			border-collapse: separate;
		}
	</style>
		{{displaydata | raw}}
	</div>
	<div style="float: right; width: 30%;">
	{% include 'common/config_filters.html.twig' %}
	</div>

	<div style="clear: both;"></div>
{% endblock %}
{% block javascript %} {{ parent() }}
	<script type="text/javascript">
	$(document).ready(function()
	{
		document.getElementById('submit').id = 'submitForm';
		$('#headingAdvancedFilters').parent().hide();

		$('jsonError').innerHTML = "<p>{{message}}</p>";
	});
    </script>
{% endblock %}
