{% extends "layout.html.twig" %}
{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="js/highcharts/js/highcharts.js"></script>
	<script type="text/javascript" src="js/highcharts/js/highcharts-more.js"></script>
	<script type="text/javascript">
	 $(document).ready(function() {
		$("input,select").change(function() {
			$("form").submit();
		});
	 });
	</script>
	<script>
        $(document).ready(function() {
                    $('select').change(function() {
                        $(this).parents('form').submit();
                    });

                   $("#chart").highcharts({
                        chart: {
                            type: 'bubble',
                        },
                        credits: {
                            enabled: false
                        },
                        xAxis: {
                        	title: {
                                text: 'Execution time (s)'
                            },
                        },
                        yAxis: {
                        	title: {
                                text: 'Total execution cost (US $)'
                            },
                        },
                        title: {
                            text: 'Cost-effectiveness of clusters'
                        },
                        series: {{ series | raw }}
                    });
    });

    </script>
    {% endblock %}
    {% block content %}
        <div id="navigation" style="text-align: center;">
            <div id="chart" style="width: 50%; margin: 0 auto; margin-left: 10%; float: left; height: {{ height }}px;"></div>
            <div style="width: 30%; float: right;">
                {% include 'common/config_filters.html.twig' %}
            </div>
            </br>
        </div>
    {% endblock %}
