{% extends "layout.html.twig" %}
{% block content %}

  <h3><strong>ALOJA team members</strong></h3>

  <table class="table table-stripped">
    <tbody>
       <tr>
         <td>David Carrera</td>
         <td>Senior Researcher, Barcelona Supercomputing Center (BSC)<br />
            Associate Professor, Universitat Polit&egrave;cnica de Catalunya (UPC)</td>
       </tr>
       <tr>
         <td>Nicolas Poggi</td>
         <td>Postdoctoral Researcher, Barcelona Supercomputing Center (BSC)</td>
       </tr>
       <tr>
         <td>Aaron Call</td>
         <td>Research Support Engineer, Barcelona Supercomputing Center (BSC)</td>
       </tr>
       <tr>
         <td>Josep Llu&iacute;s Berral</td>
         <td>Postdoctoral Researcher, Barcelona Supercomputing Center (BSC)</td>
       </tr>
       <tr>
         <td>Davide Brini</td>
         <td>Systems Engineer, Barcelona Supercomputing Center (BSC)</td>
       </tr>
       <tr>
         <td>Fabrizio Gagliardi</td>
         <td>Senior Strategy Consultant, Barcelona Supercomputing Center (BSC)<br />
             Distinguished Research Director, Universitat Polit&egrave;cnica de Catalunya (UPC)<br />
             Chairman, ACM Europe Council</td>
       </tr><tr>
         <td>Jordi Torres</td>
         <td>Group Research Manager, Barcelona Supercomputing Center (BSC)<br />
             Professor, Universitat Polit&egrave;cnica de Catalunya (UPC)</td>
       </tr>
       <tr>
         <td>Jos&eacute; Blakeley</td>
         <td>Partner Software Architect, Microsoft SQL Server</td>
       </tr><tr>
         <td>Nikola Vujic</td>
         <td>Software Development Engineer, Microsoft Development Center Serbia</td>
       </tr>
       <tr>
         <td>Daron Green</td>
         <td>Senior Director, Microsoft Research</td>
       </tr>
       <tr>
         <td>J. Eduardo Campos</td>
         <td>Director, Business Strategy, Microsoft Emerging Markets</td>
       </tr>
    </tbody>
  </table>

{% endblock %}
