{% extends "layout.html.twig" %}
{% block content %}
    <h3>ALOJA presentation slides:</h3>
    <ul style="color: black;">
        <li>
            <a href="https://raw.githubusercontent.com/Aloja/aloja/master/publications/ALOJA Cost-effective Big Data deployments.pdf"
               target="_blank">
                <h4>ALOJA: Cost-effective Big Data deployments<img src="img/pdf.gif" alt="pdf" border="0" height="16" width="16"/></h4>

            </a>
        </li>
        <li><a href="/slides/template.html"
               target="_blank">
                <strong>ALOJA-WEB: An overview of the Web components (outdated)</strong></a>
        </li>
    </ul>
    <h3>ALOJA publications</h3>
    <ul style="color: black;">
        <li>Nicolas Poggi, David Carrera, Aaron Call, Rob Reinauer, Nikola Vujic, Daron Green and Jose Blakeley, et al.&nbsp;
            </br><strong>
                <a href="https://raw.githubusercontent.com/Aloja/aloja/master/publications/BSC-MSR_ALOJA.pdf"
                   target="_blank">"ALOJA: a Systematic Study of Hadoop Deployment Variables to Enable Automated
                    Characterization of Cost-Effectiveness"</a></strong>.
            </br> IEEE BigData 2014. 27-30 Oct. 2014. Washington DC, USA. <a
                    href="https://raw.githubusercontent.com/Aloja/aloja/master/publications/BSC-MSR_ALOJA.pdf"
                    target="_blank"><img src="img/pdf.gif" alt="pdf" border="0" height="16" width="16"/></a>
        </li>
    </ul>
    <h4>Working and collaborating on:</h4>
    <ul style="color: black;">
        <li><strong>ALOJA-ML:</strong><br>
            A first dive into Hadoop behavior using Machine Learning
        </li>
        <li><strong>The Economics of Hadoop in the Cloud:</strong><br>
            An evaluation of cost-effectiveness of Hadoop in the Cloud
        </li>
        <li><strong>Cluster performance Characterization for Big Data:</strong><br>
            A performance modeling comparison of Hadoop in different cluster sizes and OS configurations
        </li>
        <li><strong>Hadoop cost-effectiveness in micro servers</strong></li>
    </ul>
    <h4>Previous Hadoop publications ~2008-2013:</h4>
    <ul style="color: black;">
        <li>Please refer to: <a href="http://www.bsc.es/computer-sciences/autonomic-systems-and-e-business-platforms" target="_blank">
                Autonomic Systems and e-Business Platforms research group at BSC
        </a>
        </li>
    </ul>
    </br></br></br>

{% endblock %}
