{% extends "layout.html.twig" %}
{% block content %}
   <h1>International Conferences</h1>
    </br></br></br></br>
    <ul style="color: black;">
 	   <li>Nicolas Poggi, David Carrera, Aaron Call, Rob Reinauer, Nikola Vujic, Daron Green and Jose Blakeley, et al.&nbsp;
           </br><strong>
 	      <a href="https://raw.githubusercontent.com/Aloja/aloja/master/publications/BSC-MSR_ALOJA.pdf" target="_blank">"ALOJA: a Systematic Study of Hadoop Deployment Variables to Enable Automated Characterization of Cost-Effectiveness"</a></strong>.
           </br> IEEE BigData 2014. 27-30 Oct. 2014. Washington DC, USA. <a href="https://raw.githubusercontent.com/Aloja/aloja/master/publications/BSC-MSR_ALOJA.pdf" target="_blank"><img src="img/pdf.gif" alt="pdf" border="0" height="16" width="16"/></a>
 	   </li>
   </ul>
    <table>
        <tr>
            <td height="200"></td>
        </tr>
    </table>
{% endblock %}
