body, html {
    height: 100%;
	font-size: 1em;
}

div p.bottom-align {
    position: absolute;
    bottom: 0;
}

#right {
    height: 100%;
}

#main {
    font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    height: 100%;
}

#copyright {
    border-bottom-width: 3px;
    border-style: solid none none;
    border-top-color: #D4D9E6;
    bottom: 20px;
    clear: both;
    color: #464646;
    margin: 0 auto 10px;
    text-align: center;
    width: 95%;
}

#copyright .content {
	margin-top: -3.3em;
}

#main #container {
    width: 95%;
    margin: 10px auto;
    padding: 0;
    position: relative;
}

#main .clear {
    clear: both;
}

#main .compare.title {
    margin-top: 2em;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.6em;
    color: #4E6CA3;
    border-bottom: 1px solid #B0BED9;
    clear: both;
}

#main .compare.body {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.6em;
    color: #4E6CA3;
    clear: both;
}

#main a:not(.navlink) {
    color: #0063DC;
    text-decoration: none;
}

#main a:not(.navlink):hover {
    text-decoration: underline;
}

#main ul {
    color: #4E6CA3;
}

.css_right {
    float: right;
}

.css_left {
    float: left;
}

.panel-heading .indicator:hover {
	cursor: pointer;
}

#navigation h1 a,#navigation h2 a {
	margin-left: 1.5em;
}

label {
	font-weight: normal;
}

.active-filters {
    margin-bottom: 10px;
}

.filter-buttons {
    margin-left: -5px;
}

.remove-filter {
    margin-left: 5px;
    margin-bottom: 5px;
    max-width: 100%;
}

.remove-icon {
    float: right;
    width: 1em;
}

.filter-description {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 1em);
}
