{% extends "layout.html.twig" %}
{% block content %}
   <h1>Coming Soon</h1>
{#    <h1>Barcelona Supercomputing Center</h1>#}
{#    <ul style="color: black;">#}
{#    	   <li>Mateo Valero</li>#}
{#  	   <li>David Carrera</li>#}
{#  	   <li>Nicolas Poggi</li>#}
{#  	   <li>Aaron Call</li>#}
{#    </ul>#}
{#    <h1>Microsoft</h1>#}
{#    <ul style="color: black;">#}
{#  	   <li>Rob Reinauer</li>#}
{#  	   <li>Nikola Vujic</li>#}
{#    </ul>#}
{#    <h1>Collaborators</h1>#}
{#    <ul style="color: black;">#}
{#       <li>Fabrizio Gagliardi</li>#}
{#       <li>Jordi Torres</li>#}
{#       <li>Eduard Ayguadé</li>#}
{#       <li>Yolanda Becerra</li>#}
{#       <li>Sergio Mendoza</li>#}
{#    </ul>#}

    <table>
        <tr>
            <td height="500"></td>
        </tr>
    </table>

{% endblock %}
